@font-face {
  font-family: 'Menlo';
  src: url('../../assets/fonts/menlo.otf') format('opentype');
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Menlo', monospace;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 128px;
}

p {
  margin: 1rem 0;
}
