@font-face {
  font-family: 'Menlo';
  src: url('../../assets/fonts/menlo.otf') format('opentype');
}

* {
  box-sizing: border-box;
  font-family: 'Menlo', monospace;
}

html,
body {
  margin: 0;
  padding: 0;
}

#board {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: content-box;
}

.pixel {
  position: absolute;
  /* border: 1px solid rgb(34, 34, 34); */
  font-size: 16px;
  text-align: center;
}
